@model bilijar.ViewModels.NewReservationViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Reservation</h2>

@using (Html.BeginForm("Save", "Reservations"))
{
    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.ReservationDate)
        <div class="row">
            <div class='col-sm-6'>
                @Html.TextBoxFor(i => i.ReservationDate, new { @class = "form-control", @id = "datetimepicker2" })
            </div>
        </div>
        @Html.ValidationMessageFor(i => i.ReservationDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.TableTypeId)
        @Html.DropDownListFor(m => m.TableTypeId, new SelectList(Model.TableTypes, "Id", "Name"), new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.TableTypeId)
    </div>

    @Html.AntiForgeryToken()
    <button type="submit" id="saveBtn" class="btn btn-primary">Save</button>
}
@section scripts {
    @Styles.Render("~/Content/css")
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $(function() {
            $('#datetimepicker2').datetimepicker({
                enabledHours: [9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
                daysOfWeekDisabled: [0, 6],
                format: "DD.MMMM.YYYY.  HH:00:00"
            });

            var reservationsHub = $.connection.reservations;

            $.connection.hub.start().done(function() {
                $("#saveBtn").click(function () {
                    $("#addform").submit();
                    reservationsHub.server.updateReservations();
                });
            });

            
        });
    </script>
}
